.app {
  text-align: center; }
  .app .app-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #222;
    padding: 5px 20px;
    color: white; }
  .app .app-logo {
    flex: 0 auto;
    animation: app-logo-spin infinite 10s linear;
    height: 80px; }
  .app .app-title {
    flex: 1 auto;
    font-size: 1.5em; }
  .app .user-info {
    flex: 0 auto; }
    .app .user-info .logged-user {
      margin: 0px 0px 5px 0px; }
      .app .user-info .logged-user .user-name {
        padding: 5px; }
      .app .user-info .logged-user .user-fullname {
        padding: 5px; }
  .app .mask {
    position: fixed;
    z-index: 99;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: #444; }

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
