button {
  margin: 4px 10px;
  padding: 4px 12px;
  font-size: 14px;
  box-sizing: border-box;
  color: #eee;
  background: #038;
  border: solid 2px transparent;
}
button:focus {
  border: solid 2px #ff0;
}
button:hover {
  color: #fff;
  background: #04a;
}
button:disabled {
  background: #d3d6d8;
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
